# Programs that will run after Openbox has started

{% if true %}
conky &
{% endif %}

{% if true %}
nm-applet &
{% endif %}

{% if true %}
plank &
{% endif %}

{% if true %}
scim -d &
{% endif %}

{% if true %}
lxterminal &
{% endif %}

{% if true %}
tint2 &
{% endif %}

{% if true %}
setxkbmap -layout "es" &
{% endif %}

{% if true %}
xrandr --output HDMI-A-0 --scale 0.55x0.55 &
{% endif %}